<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:name=".SesameApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:description="@string/module_description"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logo"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="q">

        <activity
            android:name=".ui.miuix.MiuixMainActivity"
            android:exported="true"
            android:resizeableActivity="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.miuix.MiuixSettingsActivity"
            android:exported="true"
            android:resizeableActivity="true"
            tools:targetApi="n" />

        <activity
            android:name=".ui.miuix.MiuixGroupFieldsActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.miuix.MiuixSelectionEditActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.miuix.MiuixExtensionsActivity"
            android:exported="true"
            android:resizeableActivity="true"
            tools:targetApi="n" />

        <activity
            android:name=".ui.miuix.MiuixLogViewerActivity"
            android:exported="true"
            android:resizeableActivity="true"
            tools:targetApi="n" />

        <activity
            android:name=".ui.miuix.MiuixFriendStatsActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.miuix.MiuixAboutActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity
            android:name=".ui.miuix.MiuixTaobaoSettingsActivity"
            android:exported="false"
            android:resizeableActivity="true" />

        <activity-alias
            android:name=".ui.MainActivityAlias"
            android:enabled="true"
            android:exported="true"
            android:targetActivity="io.github.aw1y2z.sesame.ui.miuix.MiuixMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>